body {
    color: rgb(2, 2, 90);
    font-family: 'Titillium Web', sans-serif;
    background-color: rgb(211, 209, 209);
    margin: 0;
    padding: 50px 15% 50px 15%;
    line-height: 2;
}

a {
    display: block;
    line-height: 3;
}
img {
    width: 200px;
    float: left;
    margin: 20px 20px 20px 0;
}